CryptoCurrency/CryptoCurrency.Client/Connected Services/CryptoCurrencyServiceReference/CryptoCurrency3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyCodeFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyCodeTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>