UnitsConverter/UnitsConverter.Client/Connected Services/UnitsConverterReference/UnitsConverter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26334/UnitsConverter.cs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudComputing.Lab2.UnitsConverter.Model" />
  <xs:import schemaLocation="http://localhost:26334/UnitsConverter.cs.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSupportedTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudComputing.Lab2.UnitsConverter.Model" minOccurs="0" name="GetSupportedTypesResult" nillable="true" type="q1:ArrayOfUnitType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupportedUnitsResult" nillable="true" type="q2:ArrayOfKeyValueOfUnitTypeArrayOfstrings3dCQ8f0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedUnitsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudComputing.Lab2.UnitsConverter.Model" minOccurs="0" name="type" type="q3:UnitType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedUnitsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupportedUnitsByTypeResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUnitCodeSupported">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUnitCodeSupportedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUnitCodeSupportedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUnitTypeSupported">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CloudComputing.Lab2.UnitsConverter.Model" minOccurs="0" name="type" type="q5:UnitType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUnitTypeSupportedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUnitTypeSupportedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>