Calculator/Calculator.Client/Connected Services/RandomServiceReference/RandomNumber.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RandomNumber" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38275/RandomNumber.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38275/RandomNumber.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38275/RandomNumber.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudComputing.Lab2.Calculator.WCFService.WebRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRandomNumber_GetRandomNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNumber" />
  </wsdl:message>
  <wsdl:message name="IRandomNumber_GetRandomNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomNumber_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRandomNumber_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomNumber_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IRandomNumber_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IRandomNumber">
    <wsdl:operation name="GetRandomNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumber/GetRandomNumber" message="tns:IRandomNumber_GetRandomNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumber/GetRandomNumberResponse" message="tns:IRandomNumber_GetRandomNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumber/GetData" message="tns:IRandomNumber_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumber/GetDataResponse" message="tns:IRandomNumber_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumber/GetDataUsingDataContract" message="tns:IRandomNumber_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumber/GetDataUsingDataContractResponse" message="tns:IRandomNumber_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRandomNumber" type="tns:IRandomNumber">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomNumber">
      <soap:operation soapAction="http://tempuri.org/IRandomNumber/GetRandomNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRandomNumber/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IRandomNumber/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RandomNumber">
    <wsdl:port name="BasicHttpBinding_IRandomNumber" binding="tns:BasicHttpBinding_IRandomNumber">
      <soap:address location="http://localhost:38275/RandomNumber.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>